// Colors
// https://m2.material.io/design/color/dark-theme.html

:root {
  --success: #50c878;
  --error: #c75050;
  --text: #ffffff;
  --border: #f3f4f6;
  --background: #121212;
  --elevation1: #282828;
  --elevation2: #3f3f3f;
  --elevation3: #575757;
  --elevation4: #717171;
  --elevation5: #8b8b8b;
  --gold: #ffe524;
}
