// Colors
// https://m2.material.io/design/color/dark-theme.html

:root {
  --success: #50c878;
  --error: #c75050;
  --text: #ffffff;
  --border: #f3f4f6;
  --background: #121212;
  --elevation1: #282828;
  --elevation2: #3f3f3f;
  --elevation3: #575757;
  --elevation4: #717171;
  --elevation5: #8b8b8b;
  --gold: #ffe524;
}

.skills {
  --skill-gold: #f8e71c;
  --magic: #052244;
  --archery: #417505;
  --woodcutting: #335c05;
  --fishing: #4a90e2;
}

/*
Icon Settings

Background:
-Type, Gradient
-Gradient, plain
-Shape, circle
-Frame, width 15

Foreground:
-Transformations, 2 shrink
-Position, 0 + 0
-Skew, 0 + 0
-Gradient, plain
-Shadow, false
-Stroke, false


Icon names

Woodcutting: Pine tree (Did with 1 shrink)
Fishing: Salmon
Archery: High shot

*/
